/* page.module.css */

.container {
  display: flex;
  height: 100vh;
  background-color: rgba(5, 29, 64, 255); /* Fondo azul */
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: rgba(252, 192, 68, 255); /* Fondo amarillo */
  padding: 2rem;
}

.policeImage {
  max-width: 60%;
  margin-bottom: 1.5rem;
}

.logoImage {
  max-width: 70%;
}

.loginContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: rgba(252, 192, 68, 255); /* Texto amarillo */
}

.heading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: rgba(252, 192, 68, 255); /* Texto amarillo */
}

.form {
  width: 100%;
  max-width: 400px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  color: rgba(252, 192, 68, 255); /* Texto amarillo */
}

.input {
  padding: 0.8rem;
  border: 1px solid rgba(252, 192, 68, 255);
  border-radius: 0.5rem;
  background-color: rgba(5, 29, 64, 255); /* Fondo azul */
  color: rgba(252, 192, 68, 255); /* Texto amarillo */
}

.passwordWrapper {
  display: flex;
  align-items: center;
}

.eyeButton {
  background: none;
  border: none;
  color: rgba(252, 192, 68, 255); /* Color del icono */
  cursor: pointer;
  padding-left: 0.5rem;
}

.loginButton {
  width: 100%;
  padding: 0.8rem;
  background-color: rgba(252, 192, 68, 255); /* Botón amarillo */
  color: rgba(5, 29, 64, 255); /* Texto azul */
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

.registerText {
  margin-top: 1.5rem;
  color: rgba(252, 192, 68, 255); /* Texto amarillo */
}

.registerLink {
  color: rgba(252, 192, 68, 255);
  font-weight: bold;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.8rem;
  width: 100%;
  max-width: 400px;
  border: 1px solid rgba(252, 192, 68, 255);
  color: rgba(252, 192, 68, 255);
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
}
